<!DOCTYPE HTML>
<html>
<%- partial('_partial/head') %>

<body>
  <header id="header">
    <%- partial('_partial/header') %>
  </header>
  <div id="main-content" class="wrap">
  <div class="inner">
    <%- body %>
  </div>
  </div>
  <footer id="footer">
    <%- partial('_partial/footer') %>
  </footer>
<%- partial('_partial/after_all') %>
</body>
</html>
